In [425]:
import pandas as pd 
import numpy as np 
import pandas as pd
import requests
import matplotlib.pyplot as plt
%matplotlib inline
import geopandas
from shapely.geometry import Point

In [442]:
citi_13= pd.read_csv('citibike2013.csv')

In [443]:
citi_13.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [444]:
citi_13=citi_13[['start station id','start station name','start station latitude','start station longitude']]

In [445]:
citi_13 =citi_13.drop_duplicates(subset=None, keep='first')

In [446]:
citi_13.columns

Index(['start station id', 'start station name', 'start station latitude',
       'start station longitude'],
      dtype='object')

In [447]:
citi_13= citi_13.rename(index=str, columns={'start station id': 'id', 'start station name': 'name','start station latitude':'lat','start station longitude':'long'})

In [448]:
citi_13.head()

     id                    name        lat       long
0   444      Broadway & W 24 St  40.742354 -73.989151
2   406  Hicks St & Montague St  40.695128 -73.995951
3   475     E 15 St & Irving Pl  40.735243 -73.987586
4  2008   Little West St & 1 Pl  40.705693 -74.016777
5   485         W 37 St & 5 Ave  40.750380 -73.983390

In [468]:
geometry13 = [Point(xy) for xy in zip(citi_13.long, citi_13.lat)]
df13 = citi_13.drop(['long','lat'], axis=1)
crs = {'init': 'epsg:4326'}
gdf13 = geopandas.GeoDataFrame(df13, crs=crs, geometry=geometry13)

In [469]:
gdf13.head()

     id                    name                          geometry
0   444      Broadway & W 24 St   POINT (-73.98915076 40.7423543)
2   406  Hicks St & Montague St  POINT (-73.99595065 40.69512845)
3   475     E 15 St & Irving Pl  POINT (-73.98758561 40.73524276)
4  2008   Little West St & 1 Pl  POINT (-74.01677685 40.70569254)
5   485         W 37 St & 5 Ave  POINT (-73.98338988 40.75038009)

In [457]:
citi_18= pd.read_csv('citibike2018.csv')

In [458]:
citi_18= citi_18[['start station id','start station name','start station latitude','start station longitude']]

In [459]:
citi_18=citi_18.drop_duplicates(subset=None, keep='first')

In [460]:
citi_18= citi_18.rename(index=str, columns={'start station id': 'id', 'start station name': 'name','start station latitude':'lat','start station longitude':'long'})

In [461]:
citi_18.head()

        id                           name        lat       long
0       72               W 52 St & 11 Ave  40.767272 -73.993929
4429    79       Franklin St & W Broadway  40.719116 -74.006667
7173    82         St James Pl & Pearl St  40.711174 -74.000165
8427    83  Atlantic Ave & Fort Greene Pl  40.683826 -73.976323
10252  119       Park Ave & St Edwards St  40.696089 -73.978034

In [462]:
geometry18 = [Point(xy) for xy in zip(citi_18.long, citi_18.lat)]

In [463]:
df18 = citi_18.drop(['long','lat'], axis=1)

In [466]:

crs = {'init': 'epsg:4326'}
gdf18 = geopandas.GeoDataFrame(df18, crs=crs, geometry=geometry18)

##Convert Citibike to geodataframe

In [472]:
gdf18.head()

        id                           name                          geometry
0       72               W 52 St & 11 Ave  POINT (-73.99392888 40.76727216)
4429    79       Franklin St & W Broadway  POINT (-74.00666661 40.71911552)
7173    82         St James Pl & Pearl St  POINT (-74.00016545 40.71117416)
8427    83  Atlantic Ave & Fort Greene Pl  POINT (-73.97632328 40.68382604)
10252  119       Park Ave & St Edwards St  POINT (-73.97803415 40.69608941)

In [397]:
subway= pd.read_csv('subway.csv')

In [401]:
subway.head()

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times"

In [402]:
s =subway['the_geom']

In [403]:
subway.dtypes

URL         object
OBJECTID     int64
NAME        object
the_geom    object
LINE        object
NOTES       object
dtype: object

In [404]:
s=s.tolist()

list

In [189]:
s[0][7:18]

'-73.9910699'

In [405]:
lat = []
for c in s:
    lat.append(c[25:-8])

In [406]:
lat= pd.DataFrame(lat)

In [407]:
long = []
for c in s:
    long.append(c[7:18])

In [408]:
long=pd.DataFrame(long)

In [409]:
lat.head()

             0
0   40.7300540
1   40.7188030
2   40.7617279
3   40.6808621
4   40.6647144

In [410]:
long.head()

             0
0  -73.9910699
1  -74.0001929
2  -73.9838489
3  -73.9749991
4  -73.8948859

In [411]:
subway['lat']=lat

In [412]:
subway['long']=long

In [413]:
subway['lat']=subway['lat'].astype('float')
subway['long']=subway['long'].astype('float')

In [414]:
subway.head()

,URL,OBJECTID,NAME,the_geom,LINE,NOTES,lat,long
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.730054,-73.991070
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.718803,-74.000193
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",40.761728,-73.983849
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",40.680862,-73.974999
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",40.664714,-73.894886

In [415]:
crs = {'init': 'epsg:4326'}
subwaygeo=geopandas.GeoDataFrame(subway, crs=crs)

In [471]:
subwaygeo

,URL,OBJECTID,NAME,the_geom,LINE,NOTES,lat,long
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.730054,-73.991070
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.718803,-74.000193
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",40.761728,-73.983849
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",40.680862,-73.974999
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",40.664714,-73.894886
5,http://web.mta.info/nyct/service/,6,238th St,POINT (-73.90087000018522 40.88466700064975),1,"1-all times, exit only northbound",40.884667,-73.900870
6,http://web.mta.info/nyct/service/,7,Cathedral Pkwy (110th St),POINT (-73.95806670661364 40.800581558114956),A-B-C,"A-nights, B-weekdays and evenings, C-all times...",40.800582,-73.958067
7,http://web.mta.info/nyct/service/,8,Kingston - Throop Aves,POINT (-73.94085899871263 40.67991899941601),A-C,"A-nights, C-all other times",40.679919,-73.940859
8,http://web.mta.info/nyct/service/,9,65th St,POINT (-73.8987883783301 40.74971952935675),E-M-R,"E-nights, R-all other times, M-weekdays and ev...",40.749719,-73.898788
9,http://web.mta.info/nyct/service/,10,36th St,POINT (-73.92901818461539 40.75196004401078),E-M-R,"E-nights, R-all other times, M-weekdays and ev...",40.751960,-73.929018
10,http://web.mta.info/nyct/service/,11,Delancey St - Essex St,POINT (-73.98740940202974 40.71830605618619),J-M-Z,"J-all times, M-all times exc nights, Z-rush ho...",40.718306,-73.987409
11,http://web.mta.info/nyct/service/,12,Van Siclen Ave,POINT (-73.89165772702445 40.67802821447783),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...",40.678028,-73.891658
12,http://web.mta.info/nyct/service/,13,Norwood Ave,POINT (-73.87962599910783 40.68152000045683),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...",40.681520,-73.879626
13,http://web.mta.info/nyct/service/,14,104th-102nd Sts,POINT (-73.84443500029684 40.69516599823373),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...",40.695166,-73.844435
14,http://web.mta.info/nyct/service/,15,DeKalb Ave,POINT (-73.98177094440949 40.690648119969794),B-D-N-Q-R,"B-weekdays and evenings, D-all other times, N-...",40.690648,-73.981771
15,http://web.mta.info/nyct/service/,16,Beach 105th St,POINT (-73.82758075034528 40.58326843810286),A-S,"A-rush hours AM northbound, PM southbound, S B...",40.583268,-73.827581
16,http://web.mta.info/nyct/service/,17,Beach 90th St,POINT (-73.81365140419632 40.58809156457325),A-S,"A-rush hours AM northbound, PM southbound, S B...",40.588091,-73.813651
17,http://web.mta.info/nyct/service/,18,Freeman St,POINT (-73.89175225349464 40.829987446384116),2-5,"2-all times, 5-all times exc nights, skips rus...",40.829987,-73.891752
18,http://web.mta.info/nyct/service/,19,Intervale Ave,POINT (-73.89661738461646 40.822142131170786),2-5,"2-all times, 5-all times exc nights, skips rus...",40.822142,-73.896617
19,http://web.mta.info/nyct/service/,20,182nd-183rd Sts,POINT (-73.90074099998965 40.85609299881864),B-D,"B-rush hours, D-all times, skips rush hours AM...",40.856093,-73.900741
20,http://web.mta.info/nyct/service/,21,174th-175th Sts,POINT (-73.91013600050078 40.84589999983414),B-D,"B-rush hours, D-all times, skips rush hours AM...",40.845900,-73.910136
21,http://web.mta.info/nyct/service/,22,167th St,POINT (-73.91843200082253 40.83376899862797),B-D,"B-rush hours, D-all times, skips rush hours AM...",40.833769,-73.918432
22,http://web.mta.info/nyct/service/,23,Mets - Willets Point,POINT (-73.8456249984179 40.75462199881262),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.754622,-73.845625
23,http://web.mta.info/nyct/service/,24,Junction Blvd,POINT (-73.86952700103515 40.74914499948836),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.749145,-73.869527
24,http://web.mta.info/nyct/service/,25,Flushing - Main St,POINT (-73.83003000262508 40.75959999915012),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.759600,-73.830030
25,http://web.mta.info/nyct/service/,26,Buhre Ave,POINT (-73.83256900003744 40.846809998885504),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...",40.846810,-73.832569
26,http://web.mta.info/nyct/service/,27,3rd Ave - 138th St,POINT (-73.92613800014134 40.81047600117261),6-6 Express,"6-all times, 6 Express-weekdays AM southbound,...",40.810476,-73.926138
27,http://web.mta.info/nyct/service/,28,Castle Hill Ave,POINT (-73.85122199961472 40.83425499825462),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...",40.834255,-73.851222
28,http://web.mta.info/nyct/service/,29,Brooklyn Bridge - City Hall,POINT (-74.0041310005885 40.713064999433136),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...",40.713065,-74.004131
29,http://web.mta.info/nyct/service/,30,Zerega Ave,POINT (-73.8470359987544 40.836488000608156),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...",40.836488,-73.847036
...,...,...,...,...,...,...,...,...
443,http://web.mta.info/nyct/service/,444,14th St,POINT (-74.00168999937027 40.740893000193296),A-C-E,"A,E-all times, C-all times exc nights",40.740893,-74.001690
444,http://web.mta.info/nyct/service/,445,Nostrand Ave,POINT (-73.9504262489579 40.66993815093054),3-4,"4-nights, 3-all other times",40.669938,-73.950426
445,http://web.mta.info/nyct/service/,446,Clark St,POINT (-73.99308599821961 40.69746599996469),2-3,"2-all times, 3-all times exc nights",40.697466,-73.993086
446,http://web.mta.info/nyct/service/,447,Franklin Ave,POINT (-73.95684800014614 40.68137966658742),A-C,"A-nights, C-all other times",40.681380,-73.956848
447,http://web.mta.info/nyct/service/,448,Clinton - Washington Aves,POINT (-73.96583799857275 40.68326299912644),A-C,"A-nights, C-all other times",40.683263,-73.965838
448,http://web.mta.info/nyct/service/,449,Forest Ave,POINT (-73.90307500005954 40.70441200087814),M,M-all times,40.704412,-73.903075
449,http://web.mta.info/nyct/service/,450,110th St,POINT (-73.94424999687163 40.795020000113105),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.795020,-73.944250
450,http://web.mta.info/nyct/service/,451,86th St,POINT (-73.95558899985132 40.77949199820952),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...",40.779492,-73.955589
451,http://web.mta.info/nyct/service/,452,York St,POINT (-73.98688499993673 40.699742667691574),F,F-all times,40.699743,-73.986885
452,http://web.mta.info/nyct/service/,453,High St,POINT (-73.99053100065458 40.69933699977884),A-C,"A-all times, C-all times exc nights",40.699337,-73.990531
453,http://web.mta.info/nyct/service/,454,Lafayette Ave,POINT (-73.97394599849406 40.68611300020567),A-C,"A-nights, C-all other times",40.686113,-73.973946
454,http://web.mta.info/nyct/service/,455,President St,POINT (-73.95058920022207 40.667883603536815),2-5,"2-all times, 5 weekdays",40.667884,-73.950589
455,http://web.mta.info/nyct/service/,456,Woodlawn,POINT (-73.87875099990931 40.886037000253324),4,4-all times,40.886037,-73.878751
456,http://web.mta.info/nyct/service/,457,Bleecker St,POINT (-73.99465900006331 40.72591466682659),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays PM",40.725915,-73.994659
457,http://web.mta.info/nyct/service/,458,103rd St,POINT (-73.94747800152219 40.79060000008452),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.790600,-73.947478
458,http://web.mta.info/nyct/service/,459,Euclid Ave,POINT (-73.87210600099675 40.675376998239365),A-C-S,"S to Ozone Park-Lefferts Blvd-nights, C-all ot...",40.675377,-73.872106
459,http://web.mta.info/nyct/service/,460,88th St,POINT (-73.85147000026086 40.67984300135503),A-S,"A-all times, S Euclid Av to Ozone Park-Leffert...",40.679843,-73.851470
460,http://web.mta.info/nyct/service/,461,Cortelyou Rd,POINT (-73.96379005505493 40.6409401651401),Q,Q-all times,40.640940,-73.963790
461,http://web.mta.info/nyct/service/,462,116th St,POINT (-73.9416169983714 40.7986290002001),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.798629,-73.941617
462,http://web.mta.info/nyct/service/,463,Parkchester,POINT (-73.86081600108396 40.83322599927859),6-6 Express,"6-all times, 6 Express-weekdays AM southbound,...",40.833226,-73.860816
463,http://web.mta.info/nyct/service/,464,Franklin St,POINT (-74.00688600277107 40.719318001302135),1-2,"1-all times, 2-nights",40.719318,-74.006886
464,http://web.mta.info/nyct/service/,465,80th St,POINT (-73.85899200206335 40.67937100115432),A-S,"A-all times, S Euclid Av to Ozone Park-Leffert...",40.679371,-73.858992
465,http://web.mta.info/nyct/service/,466,5th Ave - Bryant Pk,POINT (-73.98196299856706 40.75382100064824),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.753821,-73.981963
466,http://web.mta.info/nyct/service/,467,Spring St,POINT (-73.99714100006673 40.72230099999366),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.722301,-73.997141
467,http://web.mta.info/nyct/service/,468,125th St,POINT (-73.93759400055725 40.804138000587244),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...",40.804138,-73.937594
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times",40.577281,-73.981236
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.755446,-74.002197
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times,40.768802,-73.958362
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times,40.777861,-73.951771
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times,40.784237,-73.947066

In [216]:
nhood= pd.read_csv('lat_long_n.csv')

In [218]:
nhood.head()

                  longitude;latitude;section;borough
0  -73.8472005205491;40.89470517661004;Wakefield;...
1  -73.82993910812405;40.87429419303015;Co-op Cit...
2  -73.82780644716419;40.88755567735082;Eastchest...
3  -73.90564259591689;40.895437426903875;Fieldsto...
4  -73.91258546108577;40.89083449389134;Riverdale...

In [338]:
# v =pd.DataFrame(nhood['longitude;latitude;section;borough'].str.split('; ',1).tolist(),columns = ['longitude','latitude','section','borough'])

In [242]:
v=nhood['longitude;latitude;section;borough'].str.split(';',3, expand=True)

In [244]:
nhood2= nhood['longitude;latitude;section;borough'].str.split(';',3, expand=True)

In [248]:
nhood2= nhood2.rename(index=str, columns={0: "long", 1: "lat",2:"neighborhod",3:"borough"})

In [267]:
subway['NAME'].unique()

array(['Astor Pl', 'Canal St', '50th St', 'Bergen St', 'Pennsylvania Ave',
       '238th St', 'Cathedral Pkwy (110th St)', 'Kingston - Throop Aves',
       '65th St', '36th St', 'Delancey St - Essex St', 'Van Siclen Ave',
       'Norwood Ave', '104th-102nd Sts', 'DeKalb Ave', 'Beach 105th St',
       'Beach 90th St', 'Freeman St', 'Intervale Ave', '182nd-183rd Sts',
       '174th-175th Sts', '167th St', 'Mets - Willets Point',
       'Junction Blvd', 'Flushing - Main St', 'Buhre Ave',
       '3rd Ave - 138th St', 'Castle Hill Ave',
       'Brooklyn Bridge - City Hall', 'Zerega Ave',
       'Grand Central - 42nd St', '33rd St', '96th St', '77th St',
       'Chauncey St', 'Union St', 'Elmhurst Ave', 'Ralph Ave',
       'Pelham Pkwy', 'Gun Hill Rd', 'Nereid Ave (238 St)',
       'Franklin Ave', 'Simpson St', 'Bronx Park East', 'Winthrop St',
       '149th St - Grand Concourse', '161st St - Yankee Stadium',
       'Lexington Ave - 59th St', 'E 149th St', 'Morrison Av - Soundview',
       'Whitlock Ave', 'St Lawrence Ave', 'Woodside - 61st St',
       'Far Rockaway - Mott Ave', '72nd St', '168th St', 'Kingsbridge Rd',
       '42nd St - Bryant Pk', 'Prospect Park', '55th St',
       'Jamaica - Van Wyck', 'Kew Gardens - Union Tpke',
       'Sutphin Blvd - Archer Av', 'Court Sq - 23rd St', '67th Ave',
       'Grand Ave - Newtown', 'Ditmas Ave', 'Classon Ave', 'Broadway',
       'Lorimer St', 'Sutter Ave', 'Wilson Ave', 'Halsey St', '8th Ave',
       '36th Ave', 'Times Sq - 42nd St', 'Park Pl', '111th St',
       'W 4th St - Washington Sq (Lower)', '51st St', '86th St',
       '233rd St', '66th St - Lincoln Ctr', 'Hunts Point Ave',
       'Middletown Rd', '23rd St', 'Court Sq',
       '59th St - Columbus Circle', 'Hunters Point Ave', 'Houston St',
       '104th St', 'Broad Channel', 'Ocean Pkwy',
       'Vernon Blvd - Jackson Ave', '68th St - Hunter College',
       'Queensboro Plz', 'Rockaway Blvd', 'Union Sq - 14th St',
       'Bedford - Nostrand Aves', '15th St - Prospect Park', '7th Ave',
       'Ft Hamilton Pkwy', 'Church Ave', 'Beverly Rd', 'Newkirk Ave',
       'Parkside Ave', 'Grand Army Plaza',
       "Atlantic Av - Barclay's Center", 'Rockaway Ave', 'Fulton St',
       'Clinton - Washington Aves', 'Borough Hall', 'Aqueduct Racetrack',
       'Morris Park', 'Nostrand Ave', 'Nevins St',
       'Eastern Pkwy - Bklyn Museum', 'Brooklyn College - Flatbush Ave',
       'Sterling St', 'Crown Hts - Utica Ave', 'Kingston Ave',
       'Nassau Ave', 'Greenpoint Ave', 'Marcy Ave', 'Hewes St',
       '138th St - Grand Concourse', '5th Ave - 53rd St',
       'Lexington Ave - 53rd St', '28th St', 'Herald Sq - 34th St',
       '1st Ave', 'Metropolitan Ave', 'Grand St', 'Graham Ave',
       'Bedford Ave', 'Montrose Ave', 'Long Island City - Court Sq',
       '21st St', '39th Ave', '145th St', '157th St', '103rd St',
       'Central Park North (110th St)', '81st St', '75th Ave',
       '116th St - Columbia University', '125th St', '135th St',
       '116th St', 'Tremont Ave', '137th St - City College', '176th St',
       'Burnside Ave', '170th St', '181st St', '191st St', '175th St',
       'Beach 44th St', 'Beach 60th St', 'Beach 98th St',
       'Rockaway Park - Beach 116 St', 'Beach 36th St', 'Beach 25th St',
       'Parsons Blvd', '169th St', '103rd St - Corona Plaza',
       '63rd Dr - Rego Park', 'Grant Ave', '79th St', 'Atlantic Ave',
       'Christopher St - Sheridan Sq', 'Ozone Park - Lefferts Blvd',
       'W 8th St - NY Aquarium', 'Pelham Bay Park',
       'Westchester Sq - E Tremont Ave', '18th St', 'Beach 67th St',
       'W 4th St - Washington Sq (Upper)', '85th St - Forest Pky',
       'Woodhaven Blvd', '121st St', 'Myrtle - Wyckoff Aves',
       'New Lots Ave', 'Cleveland St', 'Livonia Ave', 'Junius St',
       'Canarsie - Rockaway Pkwy', 'E 105th St', 'Saratoga Ave',
       'Sutter Ave - Rutland Road', 'Broadway Junction', 'Alabama Ave',
       'Shepherd Ave', 'Crescent St', 'Cypress Hills',
       '75th St - Eldert Ln', '69th St', '74th St - Broadway',
       'Woodhaven Blvd - Queens Mall', 'Seneca Ave', '52nd St', '46th St',
       'Northern Blvd', '82nd St - Jackson Hts', '90th St - Elmhurst Av',
       'Howard Beach - JFK Airport', 'Aqueduct - North Conduit Av',
       'Briarwood - Van Wyck Blvd', 'Forest Hills - 71st Av',
       'Sutphin Blvd', 'Jamaica Ctr - Parsons / Archer', '225th St',
       'Elder Ave', 'Longwood Ave', 'Astoria Blvd',
       'Astoria - Ditmars Blvd', 'Jackson Ave', 'Prospect Ave',
       'Cypress Ave', '174th St', 'Allerton Ave',
       "E 143rd St - St Mary's St", 'Bedford Park Blvd - Lehman College',
       'Harlem - 148 St', 'Mt Eden Ave', 'Fordham Rd',
       'Bedford Park Blvd', 'Marble Hill - 225th St', '231st St',
       '215th St', '207th St', 'Inwood - 207th St',
       'Van Cortlandt Park - 242nd St', 'West Farms Sq - E Tremont Av',
       '219th St', 'Mosholu Pkwy', 'Norwood - 205th St', 'Burke Ave',
       'Baychester Ave', 'Eastchester - Dyre Ave', 'Jamaica - 179th St',
       'Wakefield - 241st St', 'Botanic Garden', 'Bushwick - Aberdeen',
       'E 180th St', 'Dyckman St', 'Franklin Ave - Fulton St',
       '3rd Ave - 149th St', 'Brook Ave', '40th St', '155th St',
       'Utica Ave', 'Steinway St', 'Kosciuszko St', 'Gates Ave',
       'Central Ave', 'Knickerbocker Ave', '30th Ave', 'Jefferson St',
       'Morgan Ave', 'Queens Plz', '18th Ave', 'Bay Ridge Ave',
       '25th Ave', 'Bay Pky', '20th Ave', 'Bay Ridge - 95th St',
       '71st St', '62nd St', 'New Utrecht Ave', 'Ave U', 'Kings Hwy',
       'Brighton Beach', 'Sheepshead Bay', 'Neptune Ave', 'Ave X',
       'Bay 50th St', 'Gravesend - 86th St', 'Ave P', 'Ave N', 'Ave M',
       'Ave I', 'Ave J', 'Ave H', 'Neck Rd', '21st St - Queensbridge',
       '47th-50th Sts - Rockefeller Ctr', '57th St',
       'Lexington Ave - 63rd St', 'Roosevelt Island - Main St', '49th St',
       '5th Ave - 59th St', '34th St - Penn Station', 'Chambers St',
       '42nd St - Port Authority Bus Term', 'Myrtle-Willoughby Aves',
       'Flushing Ave', 'Hoyt - Schermerhorn Sts', 'Jay St - MetroTech',
       'East Broadway', 'Lower East Side - 2nd Ave', 'Myrtle Ave',
       '4th Av - 9th St', 'Smith - 9th Sts', 'Court St', '3rd Ave',
       'Liberty Ave', '59th St', '45th St', '9th Ave', '53rd St',
       '25th St', 'Carroll St', 'Spring St', '190th St', 'Prince St',
       '8th St - NYU', 'Hoyt St', '183rd St', 'World Trade Center',
       'Canal St - Holland Tunnel', '163rd St - Amsterdam Av',
       'City Hall', 'South Ferry', 'Bowling Green', 'Wall St',
       'Whitehall St', 'Rector St', 'Fresh Pond Rd',
       'Middle Village - Metropolitan Ave', 'Cortlandt St', 'Broad St',
       'Broadway - Lafayette St', 'Bowery', 'Jackson Hts - Roosevelt Av',
       '14th St', '6th Ave', 'Clark St', 'Forest Ave', '110th St',
       'York St', 'High St', 'Lafayette Ave', 'President St', 'Woodlawn',
       'Bleecker St', 'Euclid Ave', '88th St', 'Cortelyou Rd',
       'Parkchester', 'Franklin St', '80th St', '5th Ave - Bryant Pk',
       'Coney Island - Stillwell Av', '34th St - Hudson Yards'],
      dtype=object)

In [252]:
nhood2[nhood2['borough']=='Manhattan']

                   long                 lat          neighborhod    borough
6    -73.91065965862988   40.87655077879968          Marble Hill  Manhattan
102  -73.99427936255985  40.715618422314364            Chinatown  Manhattan
103  -73.93690027985242   40.85190252555309   Washington Heights  Manhattan
104  -73.92121042203905   40.86768396449919               Inwood  Manhattan
105  -73.94968791883373   40.82360428481197     Hamilton Heights  Manhattan
106  -73.95738539351888   40.81693442949784       Manhattanville  Manhattan
107  -73.94321112603912   40.81597606742418       Central Harlem  Manhattan
108  -73.94418223148531   40.79224946663037          East Harlem  Manhattan
109  -73.96050763135007   40.77563857330185      Upper East Side  Manhattan
110  -73.94711784471833   40.77592984988492            Yorkville  Manhattan
111  -73.95885968813766   40.76811265828737           Lenox Hill  Manhattan
112   -73.9494705736962  40.762403730702246     Roosevelt Island  Manhattan
113   -73.9770592363061    40.7876579985349      Upper West Side  Manhattan
114   -73.9853377700127  40.773528889421705       Lincoln Square  Manhattan
115  -73.99640768221386  40.758333686906404              Clinton  Manhattan
116  -73.98166882730311   40.75469110270627              Midtown  Manhattan
117  -73.97833207924134   40.74830307725222          Murray Hill  Manhattan
118   -74.0031163347282   40.74403470674802              Chelsea  Manhattan
119  -73.99991402945909   40.72693288536132    Greenwich Village  Manhattan
120  -73.98222616506425   40.72784677727029         East Village  Manhattan
121  -73.98089031999298   40.71780674892769      Lower East Side  Manhattan
122  -74.01068328559094   40.72152196744325              Tribeca  Manhattan
123   -73.9973046720808   40.71932379395911         Little Italy  Manhattan
124  -74.00065666959766   40.72218384131798                 Soho  Manhattan
125  -74.00617998126819  40.734433935724375         West Village  Manhattan
126  -73.96428617740662    40.7973070417029     Manhattan Valley  Manhattan
127  -73.96389627905339   40.80799973816586  Morningside Heights  Manhattan
128  -73.98137594833548  40.737209832715045             Gramercy  Manhattan
129  -74.01686930508625   40.71193198394569    Battery Park City  Manhattan
130  -74.01066544521277   40.70710710727052   Financial District  Manhattan
249  -73.95325646837121   40.78268256712574        Carnegie Hill  Manhattan
250  -73.98843368023604   40.72325901885772                 Noho  Manhattan
251  -74.00541529873362  40.715228920462856         Civic Center  Manhattan
252  -73.98871313285254  40.748509664312245        Midtown South  Manhattan
273   -73.9635561409431   40.76028033131378         Sutton Place  Manhattan
275  -73.96770824581843   40.75204236950726           Turtle Bay  Manhattan
276  -73.97121928722272   40.74691741074023           Tudor City  Manhattan
277   -73.9740517046921   40.73099955477065      Stuyvesant Town  Manhattan
278  -73.99094710528267   40.73967304763847             Flatiron  Manhattan

In [256]:
nhood2['lat'].min()

'40.505333761156464'

In [362]:
nhood2['lat']= nhood2['lat'].astype('float')

In [363]:
nhood2['long']= nhood2['long'].astype('float')

In [265]:
nhood2.describe()

             long         lat
count  299.000000  299.000000
mean   -73.947376   40.700368
std      0.121730    0.096669
min    -74.246569   40.505334
25%    -74.000515   40.619186
50%    -73.932442   40.698791
75%    -73.857532   40.765083
max    -73.708847   40.908543

In [321]:
# html= pd.read_html('https://en.wikipedia.org/wiki/IRT_Lexington_Avenue_Line')

In [322]:
# html2= pd.DataFrame(html[2])

In [323]:
# html2.dropna